.main {
  background-color: #e5e5e5;
  color: #2c3f56;
}

.main p {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 2.6rem;
}

.main a {
  border-bottom: 1px solid;
  color: #31a1c5;
  text-decoration: none;
}

.main a:hover {
  border-bottom: 0;
}

.main h1 {
  color: #2c3f56;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0.8rem 0 1.8rem;
}

@media (min-width: 980px) {
  .article {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-height: 100vh;
  }
}

.article > * {
  width: 100%;
}

@media (min-width: 980px) {
  .article > * {
    width: 50%;
  }
}

.body {
  padding: 1.8rem;
}

.covatar {
  align-self: flex-end;
  display: flex;
  max-width: 1140px;
}

.logo {
  height: auto;
  width: 120px;
}

.logo svg {
  width: 100%;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}

.icons a {
  border-bottom: 0;
  margin-bottom: 1.6rem;
  padding-right: 1rem;
}

.icons a * {
  fill: #2c3f56;
  height: 1.5rem;
}

@media (min-width: 980px) {
  .icons a * {
    height: 2rem;
  }
}

.icons a:hover * {
  fill: #31a1c5;
}
